*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.njsproj
*.ntvs*
*.pot
*.py[cod]
*.sage.py
*.sln
*.so
*.spec
*.suo
*.sw*
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.env.*.local
.env.local
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode
.webassets-cache
/dist
/site
ENV/
MANIFEST
__pycache__/
build/
celerybeat-schedule
coverage.xml
coverage/
db.sqlite3
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
node_modules
nosetests.xml
npm-debug.log*
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
staticfiles/
target/
var/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
