{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block "main" %}
{% if validlink %}
<h1>
  Reset your password
</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-primary" value="Reset it">
</form>
{% else %}
<h1 class="display-4">
  Bad reset link
</h1>
<p>
  Sorry, something's wrong, and that link isn't valid. If you need more help,
  please <a href="{% url "user-profile" slug="kit" %}">get in touch</a>.
</p>
{% endif %}
{% endblock "main" %}
