{% load favstar %}
{% comment %}
This should be kept in rough sync with the FavStar.vue component.

Major differences:

 - The data-* attributes that are used to initialize the Vue component when it
   takes over.
 - The disabled attribute that keeps this from acting like a real clickable
   button when it's not.
{% endcomment %}

{% if user.is_authenticated and object != user %}
{% if object in user.follows %}
<div
    class="favstar"
    data-active="true"
    data-username="{{ object.username }}"
    data-nickname="{% nickname object %}"
    >
    <div class="input-group dropright">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-warning active" aria-label="favstar" disabled>
          <span class="fas fa-star"></span>
          <span class="pl-3">{% nickname object %}</span>
        </button>
      </div>
      <div class="input-group-append">
        <button
          type="button"
          class="btn btn-warning dropdown-toggle dropdown-toggle-split"
          aria-label="favstar expand"
          disabled>
        </button>
      </div>
    </div>
</div>
{% else %}
<div
    class="favstar"
    data-active="false"
    data-username="{{ object.username }}"
    data-nickname="{% nickname object %}"
    >
    <div class="input-group dropright">
      <div>
        <button
          type="button"
          class="btn btn-outline-warning"
          disabled>
          <span class="fas fa-star"></span>
          <span class="sr-only">fav {% nickname object %}</span>
        </button>
      </div>
    </div>
</div>
{% endif %}
{% endif %}
