{% extends "base.html" %}
{% block "title" %}Edit locations | {% endblock "title" %}

{% block "main" %}
<h1>Where are you?</h1>
<p class="text-justify">
  Hit the plus to add a new location, hit the minus to remove it, and drag
  and drop them to arrange them into your preferred order. They save as soon
  as you click elsewhere.
</p>
<p class="text-justify">
  If you want your links to be clickable, copy and paste in the entire
  address to your profile on another site. For some services this isn't
  possible, so you can just put in your username or other identifier and we'll
  display it.
</p>
<form id="edit-identities-form" class="clearfix">
  <noscript>
    <div class="alert alert-danger" role="alert">
      Sorry! You need to have JavaScript enabled to edit your list of locations.
    </div>
  </noscript>
  {% include "wheretofindme/_loading.svg" %}
</form>
{% endblock "main" %}
