{% extends "base.html" %}
{% block "title" %}Edit aliases | {% endblock "title" %}

{% block "main" %}
<h1>What do people call you?</h1>
<p class="text-justify">
  Hit the plus to add a new alias, hit the minus to remove it, and drag and
  drop them to arrange them into your preferred order. They save as soon as you
  click elsewhere.
</p>
<p class="text-justify">
  Your first alias is the default, used throughout the site to identify you.
  You can’t remove it, but you can change it. If you make yourself searchable,
  people can find you if they know any of your aliases. All your aliases are
  visible to anyone who looks at your profile.
</p>


<form id="edit-aliases-form" class="clearfix">
  <noscript>
    <div class="alert alert-danger" role="alert">
      Sorry! You need to have JavaScript enabled to edit your list of aliases.
    </div>
  </noscript>
  {% include "wheretofindme/_loading.svg" %}
</form>
{% endblock "main" %}
