{% extends "base.html" %}
{% block "title" %}Edit aliases | {% endblock "title" %}

{% block "main" %}
<h1>What do people call you?</h1>
<p class="text-muted text-justify">
  Hit the plus to add a new alias, hit the minus to remove it, and drag and
  drop them to arrange them into your preferred order. They save as soon as you
  click elsewhere.
</p>
<p class="text-muted text-justify">
  Your first alias is the default, used throughout the site to identify you.
  You can’t remove it, but you can change it. If you make yourself searchable,
  people can find you if they know any of your aliases. All your aliases are
  visible to anyone who looks at your profile.
</p>


<form id="edit-aliases-form" class="clearfix">
  <div class="pb-3 custom-control custom-switch">
    <input
      type="checkbox"
      id="include-in-search"
      class="custom-control-input"
      {% if user.search_enabled %}checked{% endif %}
      />
    <label class="custom-control-label" for="include-in-search">
      Include me in search results
    </label>
  </div>
  {% for alias in aliases %}
  <div class="alias card bg-light shadow-sm w-100 mb-3" data-id="{{ alias.id }}">
    <div class="card-body">
      <div class="form-group row">
        <label for="name-{{ alias.id }}" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="name-{{ alias.id }}" name="name" value="{{ alias.name }}">
        </div>
        <div class="col-sm-1" v-if="index > 0">
          <button
            type="button"
            class="btn btn-outline-danger float-right"
            aria-label="Remove alias"
          >
            <span class="fas fa-minus-circle"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <button class="btn add-alias btn-outline-primary float-right" aria-label="Add alias">
    <span class="fas fa-plus-circle"></span>
  </button>
</form>
{% endblock "main" %}
