{% extends "base.html" %}
{% load favstar %}

{% block "title" %}Your followers | {% endblock "title" %}

{% block "main" %}
<h1>Who follows me?</h1>
<div>
  {% for follow in object_list %}
  {% with object=follow.from_user %}
  <div class="card border-info shadow-sm mb-3 position-relative">
    <div class="card-header">
      <a href="{% url "user-profile" slug=object.username %}">
        {{ object.primary_alias }}
      </a>

      {% if user.is_authenticated and object != user and object in user.follows %}
      <div class="favstar"
           data-active="true"
           data-username="{{ object.username }}"
           data-nickname="{% nickname object %}"
           >
           <div class="input-group dropright">
             <div class="input-group-prepend">
               <button type="button" class="btn btn-warning active" disabled>
                 <span class="fas fa-star"></span>
                 <span class="pl-3">{% nickname object %}</span>
               </button>
             </div>
             <div class="input-group-append">
               <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" disabled>
               </button>
             </div>
           </div>
      </div>
      {% else %}
      <div class="favstar"
           data-active="false"
           data-username="{{ object.username }}"
           data-nickname="{% nickname object %}"
           >
           <div class="input-group dropright">
             <div>
               <button type="button" class="btn btn-outline-warning" disabled>
                 <span class="fas fa-star"></span>
               </button>
             </div>
           </div>
      </div>
      {% endif %}
    </div>
    <div class="card-body">
      {% for identity in object.first_three.0 %}
      {% include "wheretofindme/_identity.html" with identity=identity  %}
      {% endfor %}
      {% if object.first_three.1 %}
      &hellip;
      {% endif %}
    </div>
  </div>
  {% endwith %}
  {% empty %}
  No one's following you.
  {% endfor %}
</div>

<nav aria-label="Follow navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">&lt;</a></li>
    {% endif %}
    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        {{ page }} <span class="sr-only">(current)</span>
      </span>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock "main" %}
