{% extends "base.html" %}

{% block "main" %}
<h1>Who follows me?</h1>
<div>
  {% for follow in object_list %}
    <div class="card border-info shadow-sm mb-3">
      <div class="card-header">
        <a href="{% url "user-profile" slug=follow.from_user.username %}">
          {{ follow.from_user.username }}
        </a>

        <span class="float-right">
          <button
            class="favstar btn btn-sm btn-outline-warning{% if follow.from_user in user.follows %} active{% endif %}"
            {% if follow.from_user in user.follows %}aria-pressed="true"{% endif %}
            data-username="{{ follow.from_user.username }}"
            data-active="{% if follow.from_user in user.follows %}true{% else %}false{% endif %}"
            disabled
            >
            <span class="fas fa-star"></span>
          </button>
        </span>
      </div>
      <div class="card-body">
        {% for identity in follow.from_user.first_three %}
        {% include "wheretofindme/_identity.html" with identity=identity  %}
        {% endfor %}
      </div>
    </div>
  {% empty %}
    No one's following you.
  {% endfor %}
</div>
{% endblock "main" %}
