{% extends "base.html" %}
{% block "title" %}Search | {% endblock "title" %}

{% block "main" %}
<h1>Search results</h1>

<div>
  {% for object in object_list %}
  <div class="card border-info shadow-sm mb-3">
    <div class="card-header">
      <a href="{% url "user-profile" slug=object.username %}">
        {{ object.primary_alias }}
      </a>

      {% include "wheretofindme/_favstar.html" with object=object %}
    </div>
    <div class="card-body">
      {% for identity in object.first_three.0 %}
      {% include "wheretofindme/_identity.html" with identity=identity  %}
      {% endfor %}
      {% if object.first_three.1 %}
      &hellip;
      {% endif %}
    </div>
  </div>
  {% empty %}
  Sorry, we couldn't find anyone matching that search.
  {% endfor %}
</div>
{% endblock "main" %}
