{% extends "base.html" %}
{% load static favstar %}

{% block "title" %}{{ object.primary_alias }} | {% endblock "title" %}

{% block "meta" %}
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
{% endblock "meta" %}

{% block "opengraph" %}
<meta property="og:title" content="Where to find {{ object.primary_alias }}" />
<meta property="og:type" content="profile" />
<meta property="og:url" content="{{ here }}" />
<meta property="og:image" content="{% static 'images/logo-50.png' %}" />
<meta property="og:image:alt" content="Where to Find Me logo" />
<meta property="og:description" content="A calling card for the internet." />
{% endblock "opengraph" %}

{% block "main" %}
<div class="position-relative">
  <h1 class="text-center">
    <small class="text-muted font-italic">Where to find</small>
    <br>
    {{ object.primary_alias }}
  </h1>

  {% if user.is_authenticated and object != user and object in user.follows %}
  <div
    class="favstar"
    data-active="true"
    data-username="{{ object.username }}"
    data-nickname="{% nickname object %}"
    >
    <div class="input-group dropright">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-warning active" disabled>
          <span class="fas fa-star"></span>
          <span class="pl-3">{% nickname object %}</span>
        </button>
      </div>
      <div class="input-group-append">
        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" disabled>
        </button>
      </div>
    </div>
  </div>
  {% else %}
  {% if user.is_authenticated and object != user %}
  <div
    class="favstar"
    data-active="false"
    data-username="{{ object.username }}"
    data-nickname="{% nickname object %}"
    >
    <div class="input-group dropright">
      <div>
        <button type="button" class="btn btn-outline-warning" disabled>
          <span class="fas fa-star"></span>
        </button>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</div>

{% if object.other_aliases %}
<p class="col-md-8 offset-md-2 text-muted">
  a.k.a. {{ object.other_aliases|join:", " }}.
</p>
{% endif %}

{% if identities %}
<div class="container identities-display">
  {% if "tag" in request.GET %}
  <div class="text-center mb-3">
    <a href="{% url "user-profile" slug=object.username %}" class="btn btn-primary btn-sm">clear tag filters</a>
  </div>
  {% endif %}
  {% for identity in identities %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-light shadow-sm mb-3">
        {% if identity.looks_like_link %}
        <a rel="me nofollow" href="{{ identity.url }}">
          <div class="card-body">
            <span class="{{ identity.get_icon_display }}"></span>
            {{ identity.name }}
            {% if object.should_show_quality %}
            <div class="quality-indicator">
              <img class="quality-{{ identity.quality }}" src="{% static identity.quality_img %}" alt="Signal {{ identity.quality }}">
            </div>
            {% endif %}
            {% if identity.tag %}
            <div class="tag-indicator">
              <a href="?tag={{ identity.tag }}">
                <small class="text-muted">
                  <span class="badge badge-pill badge-primary">{{ identity.tag }}</span>
                </small>
              </a>
            </div>
            {% endif %}
          </div>
        </a>
        {% else %}
        <div class="card-body">
          <span class="{{ identity.get_icon_display }}"></span>
          {{ identity.name }}: {{ identity.url }}
          {% if object.should_show_quality %}
          <div class="quality-indicator">
            <img class="quality-{{ identity.quality }}" src="{% static identity.quality_img %}" alt="Signal {{ identity.quality }}">
          </div>
          {% endif %}
          {% if identity.tag %}
          <div class="tag-indicator">
            <a href="?tag={{ identity.tag }}">
              <small class="text-muted">
                <span class="badge badge-pill badge-primary">{{ identity.tag }}</span>
              </small>
            </a>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<p class="col-md-8 offset-md-2 text-muted">
  <small>Added without your consent? Please
  <a
    href="mailto:admin@wheretofind.me?subject=Where%20to%20Find%20Me%20removal%20request"
    >contact us</a> to remove this entry.</small>
</p>
{% else %}
<div class="text-center">
{% if object == user %}
  <em><small>Perhaps you want to <a href="{% url "identity-edit" %}">add some identities</a>?</small></em>
{% else %}
  <em><small>they are stealthy, and have left no trace</small></em>
{% endif %}
</div>
{% endif %}
{% endblock "main" %}
