{% extends "base.html" %}

{% block "main" %}
<h1 class="display-4">Where to find {{ object.username }}</h1>
{% if identities %}
<div class="card-deck">
  {% for identity in identities %}
    {% if identity.name %}
      <div class="card bg-light shadow-sm mb-3">
        {% if identity.looks_like_link %}
          <a rel="me nofollow" href="{{ identity.url }}">
        {% endif %}
        <div class="card-body">
          <span class="{{ identity.icon }}"></span>
          {% if identity.looks_like_link %}
            {{ identity.name }}
          {% else %}
            {{ identity.name }}: {{ identity.url }}
          {% endif %}
        </div>
        {% if identity.looks_like_link %}
          </a>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% else %}
<div class="text-center">
  <em><small>they are stealthy, and have left no trace</small></em>
</div>
{% endif %}
{% endblock "main" %}
