{% extends "base.html" %}
{% load favstar %}

{% block "meta" %}
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
{% endblock "meta" %}

{% block "main" %}
<div class="position-relative">
  <h1 class="text-center">
    <small class="text-muted font-italic">Where to find</small>
    <br>
    {{ object.primary_alias }}
  </h1>

  {% if user.is_authenticated and object != user %}
  <button
    class="favstar btn btn-outline-warning{% if object in user.follows %} active{% endif %}"
    {% if object in user.follows %}aria-pressed="true"{% endif %}
    data-username="{{ object.username }}"
    data-nickname="{% nickname object %}"
    data-active="{% if object in user.follows %}true{% else %}false{% endif %}"
    disabled
    >
    <span class="fas fa-star"></span>
  </button>
  {% endif %}
</div>

{% if object.other_aliases %}
<p class="col-md-4 offset-md-4 text-muted">
  a.k.a. {{ object.other_aliases|join:", " }}.
</p>
{% endif %}

{% if identities %}
<div class="container identities-display">
  {% for identity in identities %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
    {% if identity.name %}
      <div class="card bg-light shadow-sm mb-3">
        {% if identity.looks_like_link %}
          <a rel="me nofollow" href="{{ identity.url }}">
        {% endif %}
        <div class="card-body">
          <span class="{{ identity.icon }}"></span>
          {% if identity.looks_like_link %}
            {{ identity.name }}
          {% else %}
            {{ identity.name }}: {{ identity.url }}
          {% endif %}
        </div>
        {% if identity.looks_like_link %}
          </a>
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="text-center">
  <em><small>they are stealthy, and have left no trace</small></em>
</div>
{% endif %}
{% endblock "main" %}
