{% load static js_reverse %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block "opengraph" %}
	<meta property="og:title" content="WhereToFind.Me" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{request.build_absolute_uri}}" />
	<meta property="og:image" content="{% static 'images/logo-with-bg.png' %}" />
	<meta property="og:image:alt" content="Where to Find Me logo" />
	<meta property="og:description" content="A calling card for the internet." />
    {% endblock "opengraph" %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo-with-bg.png' %}"/>
    {% block "meta" %}{% endblock "meta" %}

    <title>{% block "title" %}{% endblock "title" %}Where to find me</title>

    <!--
      We use FontAwesome for most of our service icons, and Fork Awesome for a
      few that are not in FontAwesome, such as Matrix/Riot and Pixelfed.
    -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static "css/app.css" %}" rel="stylesheet">
  </head>

  <body>
    {% include "_navbar.html" %}

    <div class="main px-3 py-3 pt-md-5 pb-md-4 mx-auto" role="main">

      {% if user.is_authenticated %}
        <noscript>
          <div class="alert alert-danger" role="alert">
            We're sorry but Where to Find Me doesn't work properly without
            JavaScript enabled. Please enable it to continue.
          </div>
        </noscript>
      {% endif %}

      {% block "main" %}
      <div class="text-center">
        <img src="{% static 'images/logo-125.png' %}" alt="Where to Find Me logo" class="hero-logo">
      </div>
      <h1 class="display-4 text-center">Where are you?</h1>
      <p class="lead text-justify">
        As closed social media sites never have our best interests at heart,
        sometimes we have to move homes on the internet, and we can fall out of
        touch with people as we go elsewhere.
      </p>
      <p class="lead text-justify">
        Maybe a layer of indirection can save the day. Point people at your
        page on <code>wheretofind.me</code> and they can find you no matter
        what sites you're using these days. It's like a calling card for your
        social media presence.
      </p>
      {% if not user.is_authenticated %}
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url "django_registration_register" %}">Sign up</a>
      </div>
      {% endif %}
      {% endblock "main" %}
    </div>

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top" role="contentinfo">
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">&copy; 2018-2022 Kit La Touche</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">Please <a href="{% url "user-profile" slug="kit" %}">get in touch</a> if you have any problems or feedback.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">
              <a href="{% url "tos" %}">Terms of Service</a>
              | <a href="{% url "about" %}">About</a>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">
              <a href="https://ko-fi.com/B0B586NC">Support us on Ko-fi</a>
            </small>
          </div>
        </div>
      </footer>
    </div>

    <script>
      {% js_reverse_inline %}
    </script>
    <script src="{% static "js/chunk-vendors.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    {% block "templates" %}
    {% endblock "templates" %}
  </body>
</html>
