{% load static js_reverse %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="">

    <title>Where to find me</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/app.css" %}" rel="stylesheet">
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="navbar-brand" href="/">Where to find me</a>
      </h5>

      {% if user.is_authenticated %}
      <form method="post" action="{% url "logout" %}">{% csrf_token %}
        <div class="btn-group">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              @{{ user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url "me" %}">My profile</a>
              <a class="dropdown-item" href="{% url "identity-edit" %}">Edit my profile</a>
              <a class="dropdown-item" href="{% url "follows" %}">Who I follow</a>
              <a class="dropdown-item" href="{% url "followers" %}">Who follows me</a>
              <a class="dropdown-item" href="{% url "password_change" %}">Change my password</a>
            </div>
          </div>

          <input class="btn btn-outline-primary" type="submit" value="Sign out">
        </div>
      </form>
      {% else %}
      <div class="btn-group" role="group" aria-label="Authentication">
        <a class="btn btn-outline-primary" href="{% url "django_registration_register" %}">Sign up</a>
        <a class="btn btn-outline-primary" href="{% url "login" %}">Sign in</a>
      </div>
      {% endif %}
    </div>

    <div class="main px-3 py-3 pt-md-5 pb-md-4 mx-auto">

      {% if user.is_authenticated %}
        <noscript>
          <div class="alert alert-danger" role="alert">
            We're sorry but Where to Find Me doesn't work properly without
            JavaScript enabled. Please enable it to continue.
          </div>
        </noscript>
      {% endif %}

      {% block "main" %}
      <h1 class="display-4 text-center">Where are you?</h1>
      <p class="lead">
        As closed social media sites never have our best interests at heart,
        sometimes we have to move homes on the internet, and we can fall out of
        touch with people as we go elsewhere.
      </p>
      <p class="lead">
        Maybe a layer of indirection can save the day. Point people at your
        page on <code>wheretofind.me</code> and they can find you no matter
        what sites you're using these days. It's like a business card for your
        social media presence.
      </p>
      {% endblock "main" %}
    </div>

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3 text-muted">&copy; 2018-2019 Kit La Touche</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3 text-muted">Please <a href="{% url "user-profile" slug="kit" %}">get in touch</a> if you have any problems or feedback.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3 text-muted">
              <a href="{% url "tos" %}">Terms of Service</a>.
              <a href="{% url "about" %}">About</a>.
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3 text-muted">
              <a href="https://ko-fi.com/B0B586NC">Support us on Ko-fi</a>
            </small>
          </div>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
      {% js_reverse_inline %}
    </script>
    <script src="{% static "js/chunk-vendors.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    {% block "templates" %}
    {% endblock "templates" %}
  </body>
</html>
