{% load static js_reverse %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block "opengraph" %}
    {% endblock "opengraph" %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo-50.png' %}"/>
    {% block "meta" %}{% endblock "meta" %}

    <title>{% block "title" %}{% endblock "title" %}Where to find me</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static "css/app.css" %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm" role="navigation">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo-50.png' %}" class="img-fluid" alt="Where to Find Me logo">
        where to find me
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="nav-bar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "user-profile" slug=user.username %}">@{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "identity-edit" %}">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "alias-edit" %}">Aliases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "follows" %}">Follows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "followers" %}">Followers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "password_change" %}">Password</a>
          </li>
          <li class="nav-item">
            <form class="form-inline" method="post" action="{% url "logout" %}">{% csrf_token %}
              <input class="btn btn-link nav-link" type="submit" value="Sign out">
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "django_registration_register" %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">Sign in</a>
          </li>
          {% endif %}
        </ul>

        <form class="form-inline" action="{% url "search" %}">
          <div class="input-group" role="group" aria-label="Search group">
            <input class="form-control" type="search" placeholder="Search" name="q" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="submit" aria-label="Search">
                <span class="fas fa-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>

    <div class="main px-3 py-3 pt-md-5 pb-md-4 mx-auto" role="main">

      {% if user.is_authenticated %}
        <noscript>
          <div class="alert alert-danger" role="alert">
            We're sorry but Where to Find Me doesn't work properly without
            JavaScript enabled. Please enable it to continue.
          </div>
        </noscript>
      {% endif %}

      {% block "main" %}
      <div class="text-center">
        <img src="{% static 'images/logo-125.png' %}" alt="Where to Find Me logo" class="hero-logo">
      </div>
      <h1 class="display-4 text-center">Where are you?</h1>
      <p class="lead text-justify">
        As closed social media sites never have our best interests at heart,
        sometimes we have to move homes on the internet, and we can fall out of
        touch with people as we go elsewhere.
      </p>
      <p class="lead text-justify">
        Maybe a layer of indirection can save the day. Point people at your
        page on <code>wheretofind.me</code> and they can find you no matter
        what sites you're using these days. It's like a calling card for your
        social media presence.
      </p>
      {% if not user.is_authenticated %}
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="{% url "django_registration_register" %}">Sign up</a>
      </div>
      {% endif %}
      {% endblock "main" %}
    </div>

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top" role="contentinfo">
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">&copy; 2018-2019 Kit La Touche</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">Please <a href="{% url "user-profile" slug="kit" %}">get in touch</a> if you have any problems or feedback.</small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">
              <a href="{% url "tos" %}">Terms of Service</a>
              <a href="{% url "about" %}">About</a>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md text-center">
            <small class="d-block mb-3">
              <a href="https://ko-fi.com/B0B586NC">Support us on Ko-fi</a>
            </small>
          </div>
        </div>
      </footer>
    </div>

    <script>
      {% js_reverse_inline %}
    </script>
    <script src="{% static "js/chunk-vendors.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    {% block "templates" %}
    {% endblock "templates" %}
  </body>
</html>
